<template>
    <div id="loader-wrapper" if.bind="loading">
        <div id="loader"></div>
    </div>
    <require from="./state-format"></require>
    <div class="col-md-10 text-center col-md-2-offset current-orders pages-wrapper">
        <div class="errors-block" if.bind="errors">
            <h2>${errors}</h2>
        </div>
        <div class="col-md-12">
            <h2>Текущие заказы</h2>
            <table class="table orders-table" if.bind="orders.length > 0">
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Время создания</th>
                        <th>Время подачи</th>
                        <th>Адрес подачи</th>
                        <th>Адрес назначения</th>
                        <th>Пассажир</th>
                        <th>Комментарий</th>
                        <th>Состояние заказа</th>
                    </tr>
                </thead>
                <tbody>
                    <tr repeat.for="order of orders">
                        <td>${order.id}</td>
                        <td>${parseTime(order.start_time)}</td>
                        <td>${parseTime(order.source_time)}</td>
                        <td>${order.source}</td>
                        <td>${order.destination}</td>
                        <td>${order.passenger}</td>
                        <td>${order.comment}</td>
                        <td>${order.state_id | stateFormat}</td>
                    </tr>
                </tbody>
            </table>
            <h4 if.bind="orders.length==0">Нет текущих заказов</h4>
        </div>
    </div>
</template>
87756667331
егзеков
батырбаев
сатаев
койшибаев