<template>
    <div id="loader-wrapper" if.bind="loading">
        <div id="loader"></div>
    </div>
    <require from="./state-format"></require>
    <div class="col-md-10 text-center col-md-2-offset history pages-wrapper">
        <div class="col-md-12">
            <h2 class="text-center">История заказов за период</h2>
            <p class="danger" if.bind="errors.length != 0">${errors}</p>
            <require from="./templates/datetime-range"></require>
            <datetime-range tbegin.two-way="begin" tend.two-way="end"></datetime-range>
            <button type="button" click.trigger="show()" class="bg-green history-btn">Показать</button>
            <table class="table orders-table" if.bind="orders.length > 0">
                <thead>
                <tr>
                    <th>Номер</th>
                    <th>Время создания</th>
                    <th>Время подачи</th>
                    <th>Адрес подачи</th>
                    <th>Адрес назначения</th>
                    <th>Пассажир</th>
                    <th>Комментарий</th>
                    <th>Состояние заказа</th>
                </tr>
                </thead>
                <tbody>
                <tr repeat.for="order of orders">
                    <td>${order.id}</td>
                    <td>${parseTime(order.start_time)}</td>
                    <td>${parseTime(order.source_time)}</td>
                    <td>${order.source}</td>
                    <td>${order.destination}</td>
                    <td>${order.passenger}</td>
                    <td>${order.passenger}</td>
                    <td>${order.state_id | stateFormat}</td>
                </tr>
                </tbody>
            </table>
            <h4 if.bind="emptyResult">По Вашему запросу ничего не найдено!</h4>
        </div>
    </div>
</template>