<template>
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
    <require from="./templates/popup"></require>
    <popup order_id.bind="order_id"></popup>
    <div class="personal-page">
        <div class="col-md-12 errors-block" if.bind="errors.length != 0">
            <div class="col-md-1">
                <img src="/img/errors.png"/>
            </div>
            <div class="col-md-8">
                <ul>
                    <li repeat.for="error of errors">${error}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <form class="form-horizontal" submit.trigger="submitOrder()">
                <!-- -->
                <div class="col-md-12 shortcuts">
                    <div class="col-md-1 col-md-offset-9 airport"><a><img src="img/8.png"></a></div>
                    <div class="col-md-1 train dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img src="img/9.png">
                        </a>
                        <ul class="dropdown-menu">
                            <li>Алматы 1</li>
                            <li>Алматы 2</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="source-address" class="control-label order-label order-label col-md-4">Адрес подачи</label>
                    <input class="form-control order-input col-md-12" type="text" placeholder="Адрес подачи" id="source-address" value.bind="sourceAddress & updateTrigger:'blur':'paste'"/>
                </div>
                <div class="col-md-12 shortcuts">
                    <div class="col-md-1 col-md-offset-9 airport"><a><img src="img/8.png"></a></div>
                    <div class="col-md-1 train dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img src="img/9.png">
                        </a>
                        <ul class="dropdown-menu">
                            <li>Алматы 1</li>
                            <li>Алматы 2</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="dest-address" class="control-label order-label col-md-4">Адрес назначения</label>
                    <input class="form-control order-input col-md-12" type="text" placeholder="Адрес назначения" id="dest-address" value.bind="destAddress & updateTrigger:'blur':'paste'"/>
                </div>
                <div class="form-group col-md-12">
                    <require from="./templates/datetime-picker"></require>
                    <label class="control-label order-label col-md-4">Время подачи</label>
                    <date-picker time.two-way="stime"></date-picker>
                    <!--<input class="form-control col-md-12" type="text" placeholder="Сейчас" id="source-time" value.bind="sourceTime"/>-->
                </div>
                <div class="form-group col-md-12">
                    <label for="phone" class="control-label order-label col-md-4">Телефон</label>
                    <input class="form-control  order-input col-md-12" type="tel" placeholder="Телефон" data-mask="8(999) 999-9999" id="phone" value.bind="phone" />
                </div>
                <div class="form-group col-md-12">
                    <label for="passenger" class="control-label order-label col-md-4">Пассажир</label>
                    <input class="form-control order-input col-md-12" type="text" placeholder="Пассажир" id="passenger" value.bind="passenger"/>
                </div>
                <div class="form-group col-md-12">
                    <label for="comment" class="control-label order-label col-md-4">Комментарий</label>
                    <input class="form-control order-input col-md-12" type="text" placeholder="Комментарий" id="comment" value.bind="comment"/>
                </div>
                <div>
                    <div class="form-group col-md-12">
                        <div class="col-md-2 clear-order" click.trigger="clearForm()"><img src="/img/5.png"/></div>
                        <div class="col-md-10 center-block">
                            <button type="submit" class="submit-order">Заказать</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <require from="./yandex-map"></require>
            <yandex-map></yandex-map>
        </div>
    </div>
</template>