<template>
    <div class="personal-page">
        <div class="col-md-6">
            <form class="form-horizontal">
                <div class="col-md-12" repeat.for="param of orderParams">
                    <div class="col-md-12 shortcuts" if.bind="$index < 2">
                        <div class="col-md-1 col-md-offset-9 airport"><a><img src="img/8.png"></a></div>
                        <div class="col-md-1 train dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <img src="img/9.png">
                            </a>
                            <ul class="dropdown-menu">
                                <li>Алматы 1</li>
                                <li>Алматы 2</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="${param.name}" class="control-label col-md-4">${param.displayName}</label>
                        <input class="form-control col-md-12" type="text" placeholder="${param.displayName}" id="${param.name}" value.bind="param.value"/>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-2 clear-order" click.trigger="clear()"><img src="/img/5.png"/></div>
                    <div class="col-md-10 center-block">
                        <button type="submit" class="submit-order">Заказать</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h1>YMAP</h1>
        </div>
    </div>
</template>