<template>
    <require from="bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"></require>
    <fieldset class="form-inline col-md-8 date-time-range">
        <label class="control-label order-label col-md-1">С</label>
        <input class="form-control border-green col-md-3" type="text" placeholder="Начало" id="datetimepicker-begin" value.bind="tbegin"/>
        <label class="control-label col-md-1 order-label">ПО</label>
        <input class="form-control border-green col-md-3" type="text" placeholder="Конец" id="datetimepicker-end" value.bind="tend"/>
    </fieldset>
</template>